.navbar {
  margin-right: 0.1rem;
}

.navbar__container,
.navbar__container--light {
  height: 5.8rem;
}

.navbar__container {
  background-color: #23856d;
  margin-bottom: 1.2rem;
}

.navbar__divider,
.navbar__section,
.column,
.item,
.item.higher-gap,
.navbar__container--light,
.the-brand,
.collapsable-navbar,
.collapsable-navbar > div {
  display: flex;
}

.navbar__divider,
.item,
.item.higher-gap,
.the-brand,
.collapsable-navbar {
  align-items: center;
}

.navbar__divider {
  padding: 0.9rem 0 0.3rem 0.2rem;
}

.navbar__section {
  margin: 0 2.3rem 0 2.4rem;
  justify-content: space-between;
  width: 100%;
}

.column,
.item.higher-gap {
  gap: 1rem;
}

.sub-section,
.key-info {
  margin-bottom: 0.2rem;
}

.item,
.item.higher-gap {
  margin: 1rem;
}

.item {
  gap: 0.5em;
}

.item.higher-gap,
.collapsable-navbar > div {
  align-items: flex-start;
}

.key-info,
.brand-text,
.login-info {
  font-weight: bold;
}

.key-info,
.login-info,
.brand-text {
  line-height: 2.4rem;
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
}

.key-info {
  color: #fff;
}

.extra-margins {
  align-self: center;
}

.icon,
.icon.brand {
  width: 1.6rem;
  height: 1.6rem;
}

.extra-margins .icon.brand:first-child {
  margin-right: 0.55rem;
}

.extra-margins .icon.brand:nth-child(2) {
  margin-right: 0.4rem;
}

.extra-margins .icon.brand:nth-child(3) {
  margin-right: 0.6rem;
}

.extra-margins .icon.brand:last-child {
  margin-right: 0.05rem;
}

.navbar__container--light {
  margin-right: 0.2rem;
  gap: 4rem;
}

.the-brand {
  margin-left: 3.8rem;
}

.brand-text {
  line-height: 3.2rem;
  font-size: 2.4rem;
  padding-right: 7.3rem;
}

.collapsable-navbar {
  gap: 47.1rem;
  margin-right: 1.7rem;
}

.collapsable-navbar > div {
  gap: 1.5rem;
}
